#wrapper {
    display: flex;
    justify-content: center;
    width: 1440px;
}
body{
    width: 0px;
}
html{
    width: 0px;
}
#container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
}

#center {
    display: flex;
    flex-direction: column;
    width: 910px;
    padding: 40px 20px 5px 20px;
}
#center_above{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    font-size: 30px;
}
#center_above_right{
    margin-top: -10px;
    border-radius: 1000px;
    border: 1px solid #d56b6b;
    padding: 10px;
    color: #d56b6b;
}
#center_second{
    display: flex;
    align-items: center;
}
#center_second_1{
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: #E34D73; 
}
#center_bottom{
    width: 880px;
    background-color: #D1D0D7;
    margin-top: 20px;
    height: 426px;
    padding-top: 10px;
    border-radius: 10px;
}
#center_cards{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#center_footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}
.center_footer_icon{
    margin-left: 15px;
}


#left {
    width: 90px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #D1D0D7;
}

#leftabove {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#leftbelow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    margin-top: 50px;
    width: 32px;
}

.item2 {
    margin-top: 36px;
    width: 44px;
}
#right {
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid #9999;
    padding-left: -20px;
}
#rightabove {
    height: 35%;
    padding: 40px 20px 5px 20px;
    display: flex;
    flex-direction: column;
}


#right_left_right{
    display: flex;
    justify-content: space-between;
    height: auto;
    font-size: 30px;
}
#right_left_right_box{
    display: flex;
    justify-content: space-between;
}
#right_left_right_box_left{
    display: flex;
    justify-content: left;
    align-items: center;
}
#right_left_right_box_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

#rightbelow {
    height: 65%;
    border-top: 1px solid #9999;
    padding: 40px 20px 5px 20px;
    
}
#right_below_Boxchats{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
#right_below_Boxchats_top{
    display: flex;
    align-items: center;
}
.right_below_Boxchats_1{
    margin-left: 8px;
}